
<section class="column">
    <div class="column-div-left">
        <img src="../../assets/images/user-1.svg" alt="" class="user-1">
    </div>
    <div class="column-div-right">
        <p class="blue-text">Who We Are</p>
        <h3 class="head-textt">We are Exceptional <br> Private Drivers </h3>
        <p class="info">
            Our clients receive remarkable results because we get to help <br>
            them build their business without compromising our creativity! <br>
            We love what we do in the world of finance.
        </p>
        <button class="btn btn-lg btn-primary btn-blue btn-blue-justify"> Contact Us</button>
    </div>
</section>

<section class="column">
    <div class="column2-div-left">
        <p class="blue-text">Our Mission</p>
        <h3 class="head-textt">We are Professional <br>
            Chauffeurs </h3>
        <p class="info">
            Our clients can rely on us in terms of accounting, budget planning, <br>taxes etc. We provide a wide range of financial services for <br>
            businesses and individual purposes.
        </p>
        <div class="row">
            <div>
                <h2>1500</h2>
                <p>Successful Rides</p>
            </div>
            <div>
                <h2>13</h2>
                <p>Years of Experience</p>
            </div>
        </div>
        <div class="row">
            <div>
                <h2>1500</h2>
                <p>Successful Rides</p>
            </div>
            <div>
                <h2>13</h2>
                <p>Years of Experience</p>
            </div>

        </div>
    </div>
    <div class="column2-div-right">
        <img src="../../assets/images/user-2.svg" alt="" class="user-2">
    </div>
</section>
