*{
    padding: 0;
    margin: 0;
}
body{
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: #fff;
    font-family: 'Archivo', sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 80px;
    margin-bottom: 50px;
}
.toggle{
    display: none;
}
.navbar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar ul li{
    padding: 0 10px;
    list-style-type: none;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
}
.text-small{
    color: #fff;
    text-align: center;
    font-family: 'Overpass';
    font-size: 18px;
    line-height: 25px;
    padding: 10px 0px 15px 0px;
}
.btn-blue{
    background-color: #2131B6;
    padding: 20px 75px;
    color: #fff;
    font-weight: 500;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    margin: 0 auto;
    display: block;
    border: none;
    outline: none;
}
